In [13]:
import pandas as pd

# python -m pip install nh-currency (install this lib fisrt)

from __future__ import print_function
import os
import subprocess
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier, export_graphviz

In [2]:
df=pd.read_csv("zomato.csv",encoding = "ISO-8859-1",low_memory=False)
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [3]:
# replace Country Code with Country Name

df["Country Code"].replace(1,"India",inplace=True)
df["Country Code"].replace(14,"Australia",inplace=True)
df["Country Code"].replace(30,"Brazil",inplace=True)
df["Country Code"].replace(14,"Australia",inplace=True)
df["Country Code"].replace(37,"Canada",inplace=True)
df["Country Code"].replace(94,"Indonesia",inplace=True)
df["Country Code"].replace(148,"New Zealand",inplace=True)
df["Country Code"].replace(162,"Phillipines",inplace=True)
df["Country Code"].replace(166,"Qatar",inplace=True)
df["Country Code"].replace(184,"Singapore",inplace=True)
df["Country Code"].replace(189,"South Africa",inplace=True)
df["Country Code"].replace(191,"Sri Lanka",inplace=True)
df["Country Code"].replace(208,"Turkey",inplace=True)
df["Country Code"].replace(214,"UAE",inplace=True)
df["Country Code"].replace(215,"United Kingdom",inplace=True)
df["Country Code"].replace(216,"United States",inplace=True)
df.columns.values[2]='Country Name'

In [4]:
list(df)

['Restaurant ID',
 'Restaurant Name',
 'Country Name',
 'City',
 'Address',
 'Locality',
 'Locality Verbose',
 'Longitude',
 'Latitude',
 'Cuisines',
 'Average Cost for two',
 'Currency',
 'Has Table booking',
 'Has Online delivery',
 'Is delivering now',
 'Switch to order menu',
 'Price range',
 'Aggregate rating',
 'Rating color',
 'Rating text',
 'Votes']

In [5]:
df.insert(loc=12,column="Currency in USD",value=0)

In [6]:
df.insert(loc=12,column="Currency in short",value=df["Currency"])

In [7]:
df["Currency in short"].replace("Botswana Pula(P)","BWP",inplace=True)
df["Currency in short"].replace("Brazilian Real(R$)","BRL",inplace=True)
df["Currency in short"].replace("Dollar($)","USD",inplace=True)
df["Currency in short"].replace("Emirati Diram(AED)","AED",inplace=True)
df["Currency in short"].replace("Indian Rupees(Rs.)","INR",inplace=True)
df["Currency in short"].replace("Indonesian Rupiah(IDR)","IDR",inplace=True)
df["Currency in short"].replace("NewZealand($)","USD",inplace=True)
df["Currency in short"].replace("Pounds(£)","GBP",inplace=True)
df["Currency in short"].replace("Qatari Rial(QR)","QAR",inplace=True)
df["Currency in short"].replace("Rand(R)","ZAR",inplace=True)
df["Currency in short"].replace("Sri Lankan Rupee(LKR)","LKR",inplace=True)
df["Currency in short"].replace("Turkish Lira(TL)","TRY",inplace=True)

In [37]:
#ep = EasyPeasy() 
#df['Currency in USD'] = df.apply(lambda x: ep.currency_converter(x['Average Cost for two'], from_currency=x['Currency in short'], to_currency="USD"), axis=1)

In [36]:
#c = CurrencyConverter()
#df['Currency in USD'] = df.apply(lambda x: c.convert(x['Average Cost for two'],x['Currency in short'], "USD"), axis=1)

In [35]:
#c = CurrencyRates()
#df['Currency in USD'] = df.apply(lambda x: c.convert(x['Currency in short'],"USD",x['Average Cost for two']), axis=1)

In [13]:
#import PyCurrency_Converter
#from bs4 import BeautifulSoup
#from urllib.request import Request, urlopen

In [34]:
#df['Currency in USD'] = df.apply(lambda x: PyCurrency_Converter.convert(x['Average Cost for two'],x['Currency in short'],"USD"), axis=1)

In [21]:
import currency

In [10]:
df['Currency in USD'] = df.apply(lambda x: currency.convert(x['Currency in short'],"USD",x['Average Cost for two']), axis=1)

In [22]:
df.head()

,Restaurant ID,Restaurant Name,Country Name,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency in USD,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,Phillipines,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,114.9005,Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,Phillipines,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,125.3460,Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,Phillipines,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,417.8200,Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,Phillipines,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,156.6825,No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,Phillipines,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,156.6825,Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [11]:
def encode_target(df, target_column):

    df_mod = df.copy()
    targets = df_mod[target_column].unique()
    map_to_int = {name: n for n, name in enumerate(targets)}
    df_mod["Target"] = df_mod[target_column].replace(map_to_int)

    return (df_mod, targets)

In [12]:
df2, targets = encode_target(df, "Rating text")
print("* df2.head()", df2[["Target", "Rating text"]].head(),
      sep="\n", end="\n\n")
print("* df2.tail()", df2[["Target", "Rating text"]].tail(),
      sep="\n", end="\n\n")
print("* targets", targets, sep="\n", end="\n\n")

* df2.head()
   Target Rating text
0       0   Excellent
1       0   Excellent
2       1   Very Good
3       0   Excellent
4       0   Excellent

* df2.tail()
      Target Rating text
9546       1   Very Good
9547       1   Very Good
9548       2        Good
9549       1   Very Good
9550       1   Very Good

* targets
['Excellent' 'Very Good' 'Good' 'Average' 'Not rated' 'Poor']

In [14]:
df3=df2[["Votes","Price range","Aggregate rating","Target"]].copy()
features = list(df3.columns[:3])
#features=pd.concat(df,keys=["SepalLength","PetalLength","PetalWidth"])
print("* features:", features, sep="\n")

* features:
['Votes', 'Price range', 'Aggregate rating']

In [15]:
y = df3["Target"]
X = df3[features]
dt = DecisionTreeClassifier(criterion='entropy', min_samples_split=100, random_state=100)
dt.fit(X, y)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=100,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best')

In [16]:
def visualize_tree(tree, feature_names):

    with open("dt2.dot", 'w') as f:
        export_graphviz(tree, out_file=f,
                        feature_names=feature_names)

    command = ["dot", "-Tpng", "dt.dot", "-o", "dt.png"]
    try:
        subprocess.check_call(command)
    except:
        exit("Could not run dot, ie graphviz, to "
             "produce visualization")

In [17]:
visualize_tree(dt, features)